nav {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
nav ul li {
    margin: 0 5px;
    display: inline;
}
nav ul li a {
    text-decoration: none;
}
.subHeader {
    padding: 2em 0;
}
h2 {
    margin-bottom: 12px;
}
