@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.header-container {
    font-family: 'Open Sans', arial, sans-serif;
    margin: 0 auto;
}

.header {
    display: block;
    height: 165px;
    border-bottom: 6px solid #84b831;
    background-image: url('https://picsum.photos/id/47/1790/160');
    background-repeat: no-repeat;
    background-position: 20% 20%;
}

.logo {
    font-weight: 500;
    font-size: 24pt;
    padding-top: 27px;
    text-align: center;
    margin: 0 auto;
    color: #a3a5b4;
    text-transform: uppercase;

    width: 90%;
    height: 135px;
    background-repeat: no-repeat;
    overflow: auto;
}

.logo:hover {
    color: red;
}
.nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 14px;
    font-size: 1.3em;
    text-transform: uppercase;
}
.nav .anchor {
    margin: 0 14px;
    font-size: 22pt;
    color: #f8faf8;
}
.siteTitle {
    text-decoration: none;
}
.anchor:hover,
.anchor.current {
    color: #d71a00;
}

.anchor {
    text-decoration: none;
    color: #000;
}
